# Navigating
alias wp='cd ~/Documents/Workspace'
alias h='cd ~'
alias df='cd ~/.dotfiles'

# ls
# alias l='ls -Flh'
# alias ll='ls -Flha'

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# Git
alias g='git'
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias gD='git diff --staged'
alias ga='git add'
alias gc='git commit'
alias gp='git push'

# Nvim
alias v="nvim"

# Tmux
alias t="tmux"
alias ta='tmux attach'

# Flutter
alias flutter='fvm flutter'
alias dart='fvm dart'
alias fdoc='fvm flutter doctor'
alias fl='fvm flutter clean'
alias fpg='fvm flutter pub get'
alias fr='fvm flutter run'
alias fb='fvm flutter pub run build_runner build --delete-conflicting-outputs'

# Another
alias lg="lazygit"
alias so="source"
